body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #7C7C7C;
}

/* header */

#menu li a {
    font-family: "Changa One", cursive;
    color: #333333;
}

#menu li a:hover,
#menu li.active a {
    color: #2FA0B5;
    background-color: none;
}

#menu li {
    margin-left: 25px;
    padding: 0;
}

#frm-search {
    display: block;
    width: 169px;
    height: 32px;
    border: 1px solid #D5D5D5;
    padding: 4px 11px 6px;
    box-sizing: border-box;
    border-radius: 14px;
    margin: 0 10px;
}

#searchword {
    border: none;
    background: #fff;
    box-shadow: 0 0 0;
    padding: 0;
}

#btn-search {
    border: none;
    width: 18px;
    background: url('/images/search_button.png') 0 0 no-repeat;
}

#social a {
    display: inline-block;
    margin-left: 5px;
    font-size: 0;
    height: 25px;
    width: 27px;
    cursor: pointer;
}

#social a.twitter {
    background: url('/images/twitter.png') 0 0 no-repeat;
}

#social a.twitter:hover {
    background: url('/images/twitter_active.png') 0 0 no-repeat;
}

#social a.facebook {
    background: url('/images/facebook.png') 0 0 no-repeat;
}

#social a.facebook:hover {
    background: url('/images/facebook_active.png') 0 0 no-repeat;
}

/* !header */


/* banner */
#banner {
    background: url('/images/bg_slider.gif') center bottom repeat;
    color: #fff;
    padding: 110px 0 40px;
}

#banner h4 {
    font-size: 60px;
    line-height: 60px;
    font-family: 'Changa One', cursive;
    font-weight: bold;
    letter-spacing: 1px;
}

#btn-menu {
    display: inline-block;
    font: 30px 'Changa One', cursive;
    background-color: #FA97C2;
    line-height: 36px;
    padding: 14px 62px;
    border-radius: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 30px 0;
    color: #fff;
}

#dots {
    list-style: none;
    padding: 0;
    text-align: center;
    height: 19px;
    line-height: 19px;
}

#dots li {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 19px;
    text-align: left;
    text-indent: 9999px;
    background-color: #fff;
    margin: 0 2px;
    position: relative;
}

#dots li span {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#dots li.active span,
#dots li:hover span {
    box-shadow: 0;
    background-color: #73C906
}

/* !banner */


/* main */
h4 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
    color: #333333;
    font-size: 26px;
    margin: 10px 0;
}

h5 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
    color: #333333;
    font-size: 20px;
}

a.readmore {
    text-decoration: underline;
    color: #2FA0D5;
    
}

/* !main */


/* about */
.about {
    background: #FA97C2;
    color: #814E64;
}

h3 {
    font: 60px 'Changa One', cursive;
    font-weight: 400;
    margin: 10px 0;
}

.about div > img {
    float: left;
    margin: 20px;
}

#frm-signup {
    border: 3px dashed #814E64;
    padding: 20px 10px;
    border-radius: 10px;
    overflow: auto;
}

#frm-signup h3 {
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    color: #fff;
}

#frm-signup input {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 38px;
    padding: 10px;
    box-shadow: 0 0 0;
    margin: 6px 0;
}

#frm-signup button {
    float: right;
    border: none;
    border-radius: 14px;
    color: #fff;
    background-color: #333333;
    font: 22px 'Changa One', cursive;
    text-transform: uppercase;
    padding: 10px 34px;
}

/* !about */


/* News */
.date {
    text-align: center;
    background-color: #73C926;
    color: #fff;
    font: 30px 'Changa One', cursive;
    line-height: 30px;
    padding: 8px 0;
    border-radius: 14px;
    margin: 10px 0;
}

/* !News */


/* Footer */
footer {
    background: url('/images/bg.gif') 0 center repeat;
    text-align: center;
    padding: 20px;
}

footer li {
    display: inline-block;
    padding: 0 90px 15px 0;
}

footer a {
    color: #7C7C7C;
    text-decoration: none;
}

footer nav a {
    color: #fff;
    text-decoration: none;
}

footer nav a:hover,
footer nav a.active {
    color: #FA97C2;
    text-decoration: none;
}
/* !Footer */





/* ABOUT PAGE */
#small-banner {
    background: url('/images/bg_slider.gif') center top repeat;
    padding: 0.25rem;
    content: "";
}

#testimonials .col {
    background: url('/images/quot.png') top left no-repeat;
    padding-left: 50px;
}
.image-rounded {
    border-radius: 1em;
}

.about-link {
    text-decoration: none;
    color: inherit;
}

.ourteam-link,
.ourteam-link:hover {
    text-decoration: none;
    color: inherit;
}


/* !ABOUT PAGE */

/* Page About Details */
.google-plus-btn {
    font-size: 13px;
    color: #db3236;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    padding: 3px 10px;
}

#readmore a.readmore {
    text-decoration: none;
}
/* !Page About Details */



/* MENU PAGE */
#gallery-filter a {
    display: inline-block;
    color: #2FA0D5;
    padding: 10px 10px 10px 0;
    text-decoration: none;
    cursor: pointer;
}

#gallery-filter a.active,
#gallery-filter a:hover {
    color: #333333;
}

#gallery-filter a.active {
    font-weight: bold;
}

.gallery-detail-img {
    width: 40%;
}
/* !MENU PAGE */



/* BLOG */
.blog-link {
    text-decoration: none;
    color: inherit;
}

.blog-link:hover {
    text-decoration: none;
}

.blog-link-2 {
    text-decoration: none;
    color: #2FA0D5;
}

.pagination-btn {
    color: #2FA0D5;
    border: 1px solid #c2c2c2;
    background-color: #fff;
    padding: 3px 10px;
    margin-right: 3px;
    cursor: pointer;
}

.pagination-btn:hover {
    background-color: #73C906;
    color: #fff;
}

.pagination-btn.active {
    color: #73C906;
}

.comment_input_wrapper {
    display: inline-block;
    width: 30%;
}

.comment_input_wrapper label {
    font-size: 11px;
}

.comment_input_text{
    width: 100%;
    font-size: 11px;
    border-radius: 3px;
    border: 1px solid #c2c2c2;
    box-shadow: inset 0 1px 3px #aaaaaa;
    padding: 2px 10px;
}

.comment-submit-btn {
    border: none;
    cursor: pointer;
    color:  #2FA0D5;
    background-color: #fff;
}

.term_and_cond_link {
    text-decoration: none;
    color: #2FA0D5;
}

.comment_counter {
    background-color: #000;
    font-size: 11px;
    color: #fff;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.comment_contain {
    border-bottom: 1px solid #D5D5D5;
}
/* !BLOG */