{{#each data}}
<h3 class="text-dark pb-4">About Us</h3>
<img class="image-rounded float-left mr-3" src="{{thumbpath}}" alt="">
    {{{summary}}}
<p><a href="#" class="readmore" onclick='getData("aboutus","#content","index-readmore")'>Read more</a></p>
{{/each}}