{{#each data}}
<div class="mb-2">
    <a class="blog-link" href="#" onclick="getBlogs('blogs/categories/{{id}}')">
        <img src="/images/marker1.png" alt="" class="mr-1">
        Blog. {{name}}
    </a>
</div>
{{/each}}