{{#each data}}
<div class="col-sm-6 col-md-4 pr-1 pb-3">
    <a href="#" onclick="getDetailsOfGallery('{{id}}')">
        <img src="{{thumbpath}}" alt=""
    class="img-thumbnail animate__animated animate__fadeIn animate__fast">
    </a>
</div>
{{/each}}